/*At all resolutions */
	body{
		background-color: black;
	}
	h1, h2, p{
		color: white;
		font-family: 'Roboto', sans-serif;
	}
	.fullPage{
		height: 100vh;
	}
	.row{
		margin: 0px;
	}
	.verticalCenterLanding{
		display: flex;
		flex-direction: column;
		justify-content: center;
  		align-items: center;
	}
	.verticalCenterInformation{
		display: flex;
		align-items: center;
	}
	.project{
		padding: 5%;
	}
	#landing{
		background-image: url("../images/bg.jpg");
	}
	#information{
		background-color: #4BBFC3;
	}
	#projects{
		background-color: #4BAC94;
		padding: 5%;
		min-height: 100%;
	}
	#project1{
		background-color: #438398;
	}
	#project2{
		background-color: #71C1AD;
	}
	#project3{
		background-color: #438398;
	}
	#project4{
		background-color: #71C1AD;
	}
	#project5{
		background-color: #438398;
	}
	#project6{
		background-color: #71C1AD;
	}
	#profilePic{
		margin: 0 auto;
	}
	#aboutText{
		margin: 0 auto;
	}
/*Desktop*/
@media screen and (min-width:768px){
	h1{
		font-size: 120px;
		margin-top: 0px;
	}
	#about{
		font-size: 24px;
	}
}
/*Phones and Tablets*/
@media screen and (max-width: 768px){
	h1{
		font-size: 60px;
		padding: 0px;
	}
	#profPic{
		display: none;
	}
}